@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2968E5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2968E5;
}